main {
    width: 95%;
    max-width: 890px;
    margin: auto;
}

input {
    width: 50%;
    height: 50px;
    margin-left: 25%;
    padding-left: 1rem;
    border: 2px solid #a0a0a0;
    border-radius: 5px;
}

.gallery {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 30px;
}